block variables
  - let img = null;

.module.banner
  .banner-left
    .banner-content-wrapper
      h1.banner-title
        block title
      .banner-content
        block content
  .banner-right
    if img && 'src' in img
      picture.banner-picture
        img(src=img.src alt=img.alt).banner-image