.module.banner.banner--right
  .banner-left
    .banner-left-content
      .banner-content-wrapper
        h1.banner-title
          block title
        .banner-content
          block content
  .banner-right
    .banner-right-content
      block image
