.header {
  @reuse .sticky;
  @reuse .top-0;
  @reuse .w-100;
  @reuse .z-1;

  @media (--breakpoint-not-small) {
    @reuse .pt3;
    @reuse .ph4;
  }

  &-wrapper {
    @reuse .bg-white-50;
    @reuse .blur;
    @reuse .center;
    @reuse .dib;
    @reuse .flex;
    @reuse .items-center;
    @reuse .justify-between;
    @reuse .mw9;
    @reuse .ph3;
    @reuse .pv3;
    @reuse .trans;
    transition-property: backdrop-filter, background-color, border-radius;
    @reuse .w-100;

    @media (--breakpoint-not-small) {
      @reuse .br-pill;
      @reuse .ph4;
    }
  }

  &-logo {
    @reuse .min-w-2;
  }

  &-logo-link {
    @reuse .b;
    @reuse .flex;
    @reuse .gray;
    @reuse .items-center;
    @reuse .no-underline;
    @reuse .pr2;
  }

  &-logo-text {
    @reuse .off-black;
    @reuse .ttu;
    @reuse .tracked;
    @reuse .ml3;
  }

  &-nav {
    @media (--breakpoint-large) {
      @reuse .center;
    }
  }

  &-menu {
    @reuse .flex;
    @reuse .flex-column;
    @reuse .list;
    @reuse .mv0;
    @reuse .ph0;

    @media (--breakpoint-large) {
      @reuse .flex-row;
      @reuse .items-center;
      @reuse .mv0;
      @reuse .ph3;
    }
  }

  &-menu-item {
    @reuse .mv3;
    @reuse .tl;

    @media (--breakpoint-large) {
      @reuse .mv0;
      @reuse .mh3;
      @reuse .tc;

      &:first-of-type {
        @reuse .ml0;
      }

      &:last-of-type {
        @reuse .mr0;
      }
    }
  }

  &-menu-item + &-menu-item {
    @reuse .mt0;
  }

  &-link {
    @reuse .inline-flex;
    @reuse .b;
    @reuse .color-inherit;
    @reuse .link-underline;
    @reuse .no-underline;
    @reuse .tc;
    @reuse .ttu;

    &:focus,
    &:hover {
      @reuse .link-underline-reveal;
    }
  }

  &-button-wrapper {
    @reuse .pt5;

    @media (--breakpoint-large) {
      @reuse .pt0;
    }
  }

  &-button {
    @reuse .b--grey-3;
    @reuse .b--solid;
    @reuse .bw1;
    @reuse .inline-flex;
    @reuse .off-white;
  }

  &-hamburger {
    @reuse .black;
    @reuse .br-100;
    @reuse .bw0;
    @reuse .bg-transparent;
    @reuse .h2;
    @reuse .pointer;
    @reuse .min-w-2;
    @reuse .w2;

    @media (--breakpoint-large) {
      @reuse .dn;
    }

    &-line {
      @reuse .bg-black;
      @reuse .bg-currentcolor;
      @reuse .h-2;
      @reuse .mv1;
      @reuse .o-100;
      @reuse .trans;
      @reuse .trans-opacity;
      @reuse .w-100;

      &:first-of-type,
      &:last-of-type {
        @reuse .trans-transform;
      }
    }
  }

  &-mobile {
    @reuse .absolute;
    @reuse .br4;
    @reuse .flex-grow;
    @reuse .pe-none;
    @reuse .pb3;
    @reuse .ph2;
    @reuse .o-0;
    @reuse .top-100;
    @reuse .trans;
    @reuse .trans--slow;
    transition-property: opacity, transform;
    @reuse .translate-x--100;
    @reuse .w-100;
    @reuse .z--1;

    &:focus-within {
      @reuse .o-100;
      @reuse .pb4;
      @reuse .pe-auto;
      @reuse .translate-x-0;

      @media (--breakpoint-large) {
        @reuse .pb0;
      }
    }

    @media (--breakpoint-large) {
      @reuse .items-center;
      @reuse .bg-transparent;
      @reuse .inline-flex;
      @reuse .flex-row;
      @reuse .o-100;
      @reuse .pe-auto;
      @reuse .pb0;
      @reuse .ph0;
      @reuse .static;
      @reuse .trans-opacity;
      @reuse .translate-x-0;
    }
  }

  &--mobile-menu &-wrapper {
    @reuse .bg-transparent;
    @reuse .blur-none;

    @media (--breakpoint-large) {
      @reuse .br-pill;
      @reuse .blur;
    }
  }

  &--mobile-menu &-mobile {
    @reuse .o-100;
    @reuse .pe-auto;
    @reuse .translate-x-0;

    @media (--breakpoint-large) {
      @reuse .flex-row;
    }
  }

  &--mobile-menu &-hamburger-line {
    @reuse .active-menu-button;
  }

  &::after {
    content: '';
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    @reuse .blur;
    @reuse .trans;
    @reuse .trans-opacity;
    @reuse .trans--fast;
  }

  &--mobile-menu::after {
    opacity: 1;
    pointer-events: auto;

    @media (--breakpoint-large) {
      opacity: 0;
      pointer-events: none;
    }
  }
}
