@custom-media --breakpoint-not-small screen and (min-width: 30em);

@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);

@custom-media --breakpoint-large screen and (min-width: 60em);

:root {
  --off-white: #f2f2f2;
  --off-black: #121212;
}

.off-white {
  color: var(--off-white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.off-black {
  color: var(--off-black);
}

.bg-off-black {
  background-color: var(--off-black);
}

.bg {
  &-white {
    &-25 {
      background-color: rgba(255, 255, 255, 0.25);
    }

    &-50 {
      background-color: rgba(255, 255, 255, 0.50);
    }

    &-75 {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}

.blur {
  backdrop-filter: blur(1rem);
}

.flex-grow {
  flex-grow: 1;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.sticky {
  position: sticky;
}
