.off-white {
  color: var(--off-white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.off-black {
  color: var(--off-black);
}

.bg-off-black {
  background-color: var(--off-black);
}

.bg {
  &-white {
    &-25 {
      background-color: rgba(255, 255, 255, 0.25);
    }

    &-50 {
      background-color: rgba(255, 255, 255, 0.50);
    }

    &-75 {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}

.blur {
  backdrop-filter: blur(1rem);
}

.flex-grow {
  flex-grow: 1;
}

.h {
  &-1 {
    height: 0.0625rem;
  }

  &-2 {
    height: 0.125rem;
  }
}

.ir {
  &-pixel {
    image-rendering: pixelated;
  }
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.min-w {
  &-1 {
    min-width: 1rem;
  }

  &-2 {
    min-width: 2rem;
  }
}

.sticky {
  position: sticky;
}

.prefix {
  &-dollar::before {
    content: '$';
  }

  &-percent::before {
    content: '%';
  }
}

.suffix {
  &-dollar::after {
    content: '$';
  }
  &-percent::after {
    content: '%';
  }
}

.ta-i {
  text-align: initial;
}

.ta-r {
  text-align: revert;
}

.trans {
  transition: all var(--speed) var(--ease);

  &-opacity {
    transition-property: opacity;
  }

  &-transform {
    transition-property: transform;
  }
}

.vis {
  visibility: visible;

  &-hidden {
    visibility: hidden;
  }
}
