.off-white {
  color: var(--off-white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.off-black {
  color: var(--off-black);
}

.bg-off-black {
  background-color: var(--off-black);
}

.bg-white {
  &-25 {
    background-color: rgba(255, 255, 255, 0.25);
  }

  &-50 {
    background-color: rgba(255, 255, 255, 0.50);
  }

  &-75 {
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.blur {
  backdrop-filter: blur(1rem);
}

.flex-grow {
  flex-grow: 1;
}

.h {
  &-1 {
    height: 0.0625rem;
  }

  &-2 {
    height: 0.125rem;
  }
}

.ir {
  &-pixel {
    image-rendering: pixelated;
  }
}
.mv-auto {
  margin-bottom: auto;
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.min-h {
  &-100 {
    min-height: 100%;
  }

  &-1 {
    min-height: 1rem;
  }

  &-2 {
    min-height: 2rem;
  }

  &-3 {
    min-height: 4rem;
  }

  &-4 {
    min-height: 8rem;
  }

  &-5 {
    min-height: 16rem;
  }

  &-6 {
    min-height: 32rem;
  }
}

.min-w {
  &-100 {
    min-width: 100%;
  }

  &-1 {
    min-width: 1rem;
  }

  &-2 {
    min-width: 2rem;
  }

  &-3 {
    min-width: 4rem;
  }

  &-4 {
    min-width: 8rem;
  }

  &-5 {
    min-width: 16rem;
  }

  &-6 {
    min-width: 32rem;
  }
}

.pe {
  &-auto {
    pointer-events: auto;
  }

  &-none {
    pointer-events: none;
  }
}

.sticky {
  position: sticky;
}

.prefix {
  &-dollar::before {
    content: '$';
  }

  &-percent::before {
    content: '%';
  }
}

.suffix {
  &-dollar::after {
    content: '$';
  }
  &-percent::after {
    content: '%';
  }
}

.ta-i {
  text-align: initial;
}

.ta-r {
  text-align: revert;
}

.top {
  &-100 {
    top: 100%;
  }
}

.trans {
  transition: all var(--speed) var(--ease);

  &-bg-color {
    transition-property: background-color;
  }

  &-opacity {
    transition-property: opacity;
  }

  &-transform {
    transition-property: transform;
  }
}

.translate-y {
  &-0 {
    transform: translateY(0);
  }

  &-1 {
    transform: translateY(1rem);
  }

  &--1 {
    transform: translateY(-1rem);
  }

  &--100 {
    transform: translateY(-100%);
  }
}

.vis {
  visibility: visible;

  &-hidden {
    visibility: hidden;
  }
}

.z--1 {
  z-index: -1;
}
