footer.footer
  .footer-page
    a(href='/').footer-logo-link
      picture.footer-logo-wrapper
        img(src='./media/spartacus-logo-1.png' alt='Spartacus Finance logo' height='48' width='48').footer-logo
      span.footer-logo-text
        | Spartacus
        br
        | Finance
    nav.footer-nav
      ul.footer-menu
        li.footer-menu-item
          a.footer-menu-link(href='#news') News
        li.footer-menu-item
          a.footer-menu-link(href='#dashboard') Dashboard
        li.footer-menu-item
          a.footer-menu-link(href='#buy') How to buy
        li.footer-menu-item
          a.footer-menu-link(href='#docs') Docs
    p.footer-attribution
      | © 2021 Spartacus Finance
