footer.footer
  .footer-page
    .footer-logo-wrapper
      p footer logo
    nav.footer-nav
      ul.footer-menu
        li.footer-menu-item
          a.footer-menu-link(href='#news') News
        li.footer-menu-item
          a.footer-menu-link(href='#dashboard') Dashboard
        li.footer-menu-item
          a.footer-menu-link(href='#buy') How to buy
        li.footer-menu-item
          a.footer-menu-link(href='#docs') Docs
    p.footer-attribution
      | © 2021 Spartacus Finance
