footer.footer-float
  ul.footer-list
    li.footer-item
      p.footer-label Total SPA Staked
      p.footer-value 67.5%
    li.footer-item
      p.footer-label Treasury Balance
      p.footer-value $22,478,924
    li.footer-item
      p.footer-label Market Cap
      p.footer-value $48,548,426
    li.footer-item
      p.footer-label Current APY
      p.footer-value 1,100,055.2%
