header.header
  .header-wrapper
    .header-item.logo-wrapper
      .header-logo
        | Spartacus Finance
    
    nav.header-item.nav-wrapper
      ul.header-menu
        li.header-menu-item
          a(href='#news').header-link
            | News
        li.header-menu-item
          a(href='#dashboard').header-link
            | Dashboard
        li.header-menu-item
          a(href='#how-to-buy').header-link
            | How to buy

    .header-item.button-wrapper
      a.header-button.button(href='//app.spartacus.finance')
        | Enter App
