doctype html
head
  meta(charset="utf-8")
  title Spartacus Finance
  link(href='./style/main.css' rel='stylesheet')
  script(src='script/index.js' type='module')
body(class='no-js')
  script.
    document.body.classList.remove('no-js')
  include partials/page
