.module.content-grid
  h2.content-grid-title
    | Sustainable Liquidity Pool

  .content-grid-left
    p
      span(data-feed='treasuryRiskFreeValue').content-grid-highlight.prefix-dollar
        | 00,000,000.00
      span 
        | Protocol Owned Liquidity
  .content-grid-right
    p
      | Spartacus plays an important role in Phantom ecosystem by funding liquidity pools with its crypto assets to earn a yield.
  .content-grid-clear

  .content-grid-left
    p
      span(data-feed='treasuryOhmDaiPOL').content-grid-highlight.suffix-percent
        | 00.00
      span 
        | of Total LP Supply
  .content-grid-right
    p
      | Our liquidity pool is sustainably produced, which means it is not powered by inflationary means. It it democratically sourced and super fluid.
