.module.banner
  .banner-left
    .banner-content-wrapper
      h1.banner-title
        | Protocol-owned liquidity for a fair finance
      .banner-content
        p
          | The largest treasury reserve protocol on Fantom network
  .banner-right
    picture.banner-picture
      img(src='./media/spartacus-banner-image-1.png').banner-image