block variables
  -
    let cards = [];

if cards.length
  .module.cards
    ul.cards-wrapper
      each card, i in cards
        li.cards-card
          if card.icon
            picture
              img(src='./icon/' + card.icon + '.svg')
          h3.cards-card-title= card.title
          p.cards-card-content= card.content
