doctype html
block variables
  - let site = {};
  - let content = {};
head
  meta(charset="utf-8")
  meta(name='viewport' content='initial-scale=1, width=device-width')
  title #{ site && site.title ? site.title : null }
  link(href='style/main.css' rel='stylesheet')
  script(src='script/index.js' type='module')
  block headerScripts

body(class='no-js')
  script.
    document.body.classList.remove('no-js')

  include ../components/header/template

  main.page
    .page-content
      block page
    include ../components/footer/floating

  include ../components/footer/template

  block footerScripts
