footer.footer
  .footer-page
    a(href='/').footer-logo-link
      picture.footer-logo-wrapper
        img(src='./media/spartacus-logo-1.png' alt='Spartacus Finance logo' height='48' width='48').footer-logo
      span.footer-logo-text
        | Spartacus
    nav.footer-nav
      ul.footer-menu
        li.footer-menu-item
          a(href='https://app.spartacus.finance/#/dashboard').footer-menu-link
            | Dashboard
        li.footer-menu-item
          a(href='https://spookyswap.finance/swap?inputCurrency=0x8d11ec38a3eb5e956b052f67da8bdc9bef8abf3e&outputCurrency=0x5602df4A94eB6C680190ACCFA2A475621E0ddBdc').footer-menu-link
            | Buy on Spookyswap
        li.footer-menu-item
          a(href='https://snapshot.org/#/spartacusdao.eth').footer-menu-link Governance
        li.footer-menu-item
          a(href='https://docs.spartacus.finance/').footer-menu-link Docs
    p.footer-attribution
      | ©
      | 
      span= new Date().getFullYear()
      | 
      | #{ site && site.title ? site.title : null }
