extends ../../src/modules/banner/template

block title
  | Protocol-owned liquidity for a fair finance

block content
  p
    | The largest treasury reserve protocol on Fantom network

block variables
  -
    let img = {
      src: './media/spartacus-banner-image-1.png'
    };

