extends ../../src/modules/banner/template

block abstracts
  - site.bannerclass = 'banner--hero';

block title
  | Protocol-owned treasury on Fantom

block content
  p Fair and stable finance for everyone.
  br
  p.grey
    a(href='https://spookyswap.finance/swap?inputCurrency=0x8d11ec38a3eb5e956b052f67da8bdc9bef8abf3e&outputCurrency=0x5602df4A94eB6C680190ACCFA2A475621E0ddBdc').button.button--wide-left.bg-brand-dark
      span.mr1 Get SPA
      img(src='media/logo-spookyswap.png' alt='SpookySwap icon').small-img.ml1

block image
  picture.banner-picture.banner--mask-1
    img(src='media/spartacus-banner-image-1.png' alt='Spartacus and his friends').banner-image
