extends ../../src/modules/banner/left

block title
  | Stake your funds in Spartacus

block content
  p
    | Exploit the opportunity from auto-compounded yields through community pooling.
  p
  p
    u
      | How can this yield be so high?
  p
    | SPA is minted and evenly distributed for staking rewards. More OHM staked reduces the APY but pushes the OHM price higher, creating a balance that protects your investment.



block image
  picture.banner-picture.banner--mask-2
    img(src='media/spartacus-banner-image-2.png' alt='Spartacus on a mountain').banner-image
