extends ../../src/modules/cards/template

block variables
  -
    let cards = [
      {
        icon: 'like',
        title: 'Growing treasury',
        content: 'Bond sales and liquidity fees increase Treasury values, which back outstanding SPA tokens with intrinsic value.',
      },
      {
        icon: 'bar',
        title: 'Protocol owned liquidity',
        content: 'No more predatory farmers.\n Lock-in liquidity also help regulate SPA supply.',
      },
      {
        icon: 'star',
        title: 'Decentralized governance',
        content: 'Λ holders decide Spartacus\' future via on-chain voting.',
      }
    ];
