extends ../../src/modules/explainer/template

block variables
  -
    let explanation = {
      right: {
        link: '//app.spartacus.finance/#/stake',
        title: 'Staking',
        content: 'Bit of an explanation about staking. Bit of an explanation about staking. Bit of an explanation about staking.',
        image: {
          title: 'Staking',
          height: 268,
          width: 280,
          src: 'media/Stake1.png',
          replace: 'media/Stake2.png',
        },
      },
      left: {
        link: '//app.spartacus.finance/#/bond',
        title: 'Bonding',
        content: 'Bit of an explanation about bonding. Bit of an explanation about bonding. Bit of an explanation about bonding.',
        image: {
          title: 'Bonding',
          height: 142,
          width: 166,
          src: 'media/Bond1.png',
          replace: 'media/Bond2.png',
        },
      },
    };

