.social-media-links {
  color: var(--dark-blue);
  @reuse .mb6;
  @reuse .mt5;
  @reuse .tc;

  &-title {
    @reuse .f2;
    @reuse .mb0;
  }

  &-content {
    @reuse .f4;
    @reuse .mb4;
  }

  &-list {
    @reuse .flex;
    @reuse .justify-center;
    @reuse .list;
    @reuse .pl0;
  }

  &-item {
    @reuse .mh1;

    @media (--breakpoint-not-small) {
      @reuse .mh2;
    }
  }

  &-link {
    @reuse .inline-flex;
    @reuse .trans;
    transition-property: transform;

    &:focus,
    &:hover {
      transform: scale(1.25);
    }

    &:active {
      transition-duration: var(--fast);
      transform: scale(1);
    }

    picture {
      @reuse .inline-flex;
    }
  }
}
