-
  let links = [
    {
      share: 'discord',
      url: 'https://discord.com/invite/WHVARU4KzV',
    },
    {
      share: 'twitter',
      url: 'https://twitter.com/Spartacus_Fi',
    },
    {
      share: 'github',
      url: 'https://github.com/spartacus-finance',
    }
  ];

.module.social-media-links
  .social-media-links-wrapper
    h4.social-media-links-title
      block title

    .social-media-links-content
      block content

    ul.social-media-links-list
      each link, i in links
        li.social-media-links-item
          a(href=link.url)
            picture
              img(src='./icon/socialmedia-' + link.share + '.svg')
